<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta name="generator" content="editplus" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/megamenu.css') }}" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

    <link href="js/ui/themes/cupertino/jquery-ui-1.7.1.css" type="text/css" rel="stylesheet">

    <!-- Slider Kit styles -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/sliderkit-core.css') }}" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/sliderkit-demos.css') }}" media="screen, projection" />
    <link href="{{ asset('css/media-queries.css') }}" rel="stylesheet" type="text/css" />

    <!-- Slider Kit compatibility -->
    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="{{ asset('css/sliderkit-demos-ie6.css') }}" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="{{ asset('css/sliderkit-demos-ie7.css') }}" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{ asset('css/sliderkit-demos-ie8.css') }}" /><![endif]-->
</head>
<body>
    {{ include('includers/header.html.twig') }}

    <div id="content-inner"><!-- Content -->

        {{ include('includers/filter-block.html.twig') }}

        <div id="content-right"><!-- Right Start -->

            {% block fos_user_content %}{% endblock fos_user_content %}

            {% block javascripts %}{% endblock %}
        </div>
    </div>
    {{ include('includers/footer.html.twig') }}
    <script src="js/jquery.js"></script>
    <script src="js/menuzord.js"></script>
    <script type="text/javascript" src="js/ui/jquery-ui-1.7.1.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery("#menuzord").menuzord({
                align: "right"
            });
        });
    </script>

</body>
</html>